body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../Image/pexels-quang-nguyen-vinh-222549-2166711.jpg);
    background-size: cover;
}
.div5{
    background-color: #c7ecee;
    width: 300px;
    height: 350px;
    position: relative;
    z-index: 1;
}