body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../Image/pexels-pixabay-247600.jpg);
    background-size: cover;
}
.div5{
    width: 350px;
    height: 500px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
input{
    padding: 10px;
    margin-top: 25px;
    margin: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
}
input::placeholder{
    color: #fff;
}
input:focus{
    outline: none;
}
.div6{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    color: white;
}
.div input{
    margin-right: 5px;
    margin-top: 0px;
}
h2{
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 30px;
}